<div class="container my-5">
    <h1 class="md-3">Employees</h1>
    <table class="table" *ngIf="employee && employee.length>0" id="mytable">
        <thead>
           <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employee">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.department}}</td>
                <td><a [routerLink]="['/employees','edit',employee.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!employee || employee.length<=0">No Employee Found</p>
</div>




